@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 29% 97%;
    --foreground: 210 9% 31%;
    --card: 0 0% 100%;
    --card-foreground: 210 9% 31%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 9% 31%;
    --primary: 206 68% 62%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 210 9% 31%;
    --muted: 210 20% 90%;
    --muted-foreground: 210 4% 45%;
    --accent: 0 84% 75%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 15% 88%;
    --input: 210 15% 88%;
    --ring: 206 68% 62%;
    --radius: 0.5rem;
    --chart-1: 206 68% 62%;
    --chart-2: 0 84% 75%;
    --chart-3: 210 9% 31%;
    --chart-4: 210 20% 90%;
    --chart-5: 210 4% 45%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 206 68% 62%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 0 84% 75%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 206 68% 62%;
    --chart-1: 206 68% 62%;
    --chart-2: 0 84% 75%;
    --chart-3: 210 40% 98%;
    --chart-4: 217 33% 17%;
    --chart-5: 215 20% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
